.button {
    inline-size: 32px;
    block-size: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

#play {
    background-image: url('./akar-icons_play\ \(1\).png');
}

#pause {
    background-image: url('./ant-design_pause-circle-outlined.png');
}

#backward {
    background-image: url('./ic_baseline-keyboard-double-arrow-left.png');
}

#forward {
    background-image: url('./ic_baseline-keyboard-double-arrow-right.png');
}